
header{

		height : 5%;
		width : 100%;	
		
}

.corner{
		position:absolute;
		height : auto;
		width : 15%;
		text-align : center;
		vertical-align : middle;
		float : left;
		top: 1%;
		
}

.nameHead{

		height : auto;
		width : 80%;
		padding : 10px;
		background : #FFAA40;
		margin-left : 15%;
		-webkit-border-radius: 10px 80px 10px 10px;
		-moz-border-radius: 10px 80px 10px 10px;
		-o-border-radius: 10px 80px 10px 10px;							
		border-radius: 10px 80px 10px 10px;
		box-shadow : 10px 10px 5px #A65C00 ;
		-webkit-box-shadow : 10px 10px 5px #A65C00;
		-moz-box-shadow : 10px 10px 5px #A65C00;
		-o-box-shadow : 10px 10px 5px #A65C00;
}

.adress{

		height : auto;
		width : 80%;
		padding : 10px;
		background : #FFAA40;
		margin-left : 15%;
		-webkit-border-radius: 10px 10px 80px 10px;
		-moz-border-radius: 10px 10px 80px 10px;
		-o-border-radius: 10px 10px 80px 10px;							
		border-radius: 10px 10px 80px 10px;
		box-shadow : 10px 10px 5px #A65C00 ;
		-webkit-box-shadow : 10px 10px 5px #A65C00;
		-moz-box-shadow : 10px 10px 5px #A65C00;
		-o-box-shadow : 10px 10px 5px #A65C00;
		
}

.center{

		height : auto;
		width : 100%;
		
}

.menu{

		width : 15%;
		height : auto;
		float : left;
		
}

.conteiner{

		margin-left : 15%;
		width : 80% ; 
		height : 675px;
		margin-top : 3%;
		background : #FFAA40;
		padding: 20px 10px 20px 10px;
		-webkit-border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
		-o-border-radius: 10px 10px 10px 10px;							
		border-radius: 10px 10px 10px 10px;
		box-shadow : 10px 10px 5px #A65C00 ;
		-webkit-box-shadow : 10px 10px 5px #A65C00;
		-moz-box-shadow : 10px 10px 5px #A65C00;
		-o-box-shadow : 10px 10px 5px #A65C00;
		
}

.image{
	
		text-align : center;		
		
}

.foot{

		height : 5%;
		width : 100%;
		margin-top : 1%;
		
}

.textHead{

		color : white;
		text-align : center;
		font-weight : bold;
		font-size : 26px;		
		font-family : Constantia;
		margin : auto;
		text-shadow : 10px 10px 5px #A65C00 ;
		-webkit-text-shadow : 10px 10px 5px #A65C00;
		-moz-text-shadow : 10px 10px 5px #A65C00;
		-o-text-shadow : 10px 10px 5px #A65C00; 
		padding: 10px 10px 10px 10px;
		
}

.textMenu{

		color : white;
		text-align : center;
		font-family : Constantia;		
		font-size : 16px;		
		padding: 20% 10% 25% 10%; 
		
}

.textFoot{

		color : white;
		text-align : center;
		font-style : italic;
		font-family : Constantia;
		font-size : 16px;	
		text-shadow : 10px 10px 5px #A65C00 ;
		-webkit-text-shadow : 10px 10px 5px #A65C00;
		-moz-text-shadow : 10px 10px 5px #A65C00;
		-o-text-shadow : 10px 10px 5px #A65C00; 
		padding: 3px 10px 3px 10px; 
		
}

#optionMenu {
			
			margin : auto;
			width : 50%;
			text-align : center;
			padding : 10px;
			background : #FFAA40 ;			
			transition: background 0.5s linear;
			-webkit-transition: background 0.5s linear;
			-moz-transition: background 0.5s linear;
			-o-transition: background 0.5s linear;	
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-o-border-radius: 5px;							
			border-radius: 5px;
			box-shadow : 10px 5px 5px #A65C00 ;
			-webkit-box-shadow : 10px 5px 5px #A65C00;
			-moz-box-shadow : 10px 5px 5px #A65C00;
			-o-box-shadow : 10px 5px 5px #A65C00;
							
}
					
#optionMenu:hover {

			background : #BF8030 ;
			
}

#optionMenu a{

		color : white;		
		font-size : 16px;
		font-family : Constantia;
		text-decoration : none;
		
}

#optionMenuSelected a{

		color : white;		
		font-size : 16px;
		font-family : Constantia;
		text-decoration : none;
		
}

#waiting{

		text-align : center;
		
}

#slidebox {			
			
			box-shadow : 10px 5px 5px #A65C00 ;
			-webkit-box-shadow : 10px 5px 5px #A65C00;
			-moz-box-shadow : 10px 5px 5px #A65C00;
			-o-box-shadow : 10px 5px 5px #A65C00;
							
}

span {

	height : 900px;
	color : white;
	font-family : Constantia;
	font-size : 18px;
	text-align : justify;
	padding: 20px 10px 20px 10px;
	
}

p span {

	font-weight : bold;
	text-shadow : 10px 10px 5px #A65C00 ;
	-webkit-text-shadow : 10px 10px 5px #A65C00;
	-moz-text-shadow : 10px 10px 5px #A65C00;
	-o-text-shadow : 10px 10px 5px #A65C00; 
	
}

.firstline {
  text-indent: 1.5em;
  margin-top: 0;

 } 
 
 .productimage {

		background : #FFFFFF;
		border: 1px solid #A65C00;
		width : 275px;
		height : 275px;
		text-align: center;
		padding : 5%;
		float : left;
		box-shadow : 10px 5px 5px #A65C00 ;
		-webkit-box-shadow : 10px 5px 5px #A65C00;
		-moz-box-shadow : 10px 5px 5px #A65C00;
		-o-box-shadow : 10px 5px 5px #A65C00;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;							
		border-radius: 5px;

 }
 
 .productimage img {
 
		border: 3px solid #FFAA40;
		width : 240px;
		height : 265px;
		box-shadow : 10px 5px 5px #A65C00 ;
		-webkit-box-shadow : 10px 5px 5px #A65C00;
		-moz-box-shadow : 10px 5px 5px #A65C00;
		-o-box-shadow : 10px 5px 5px #A65C00;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;							
		border-radius: 5px;

 }
 
 .productimage a{

		color : #FFAA40;
		text-align : center;		
		font-size : 16px;
		font-family : Constantia;
		text-decoration : none;
		
}

li img {
 
		border: 3px solid #A65C00;
		width : 900px;
		height : 570px;
		box-shadow : 10px 5px 5px #A65C00 ;
		-webkit-box-shadow : 10px 5px 5px #A65C00;
		-moz-box-shadow : 10px 5px 5px #A65C00;
		-o-box-shadow : 10px 5px 5px #A65C00;
		

 }
 
 .informationImage {

		background : #FFFFFF;
		border: 1px solid #A65C00;
		width : 325px;
		height : 530px;
		text-align: center;
		padding : 5%;
		float : left;
		box-shadow : 10px 5px 5px #A65C00 ;
		-webkit-box-shadow : 10px 5px 5px #A65C00;
		-moz-box-shadow : 10px 5px 5px #A65C00;
		-o-box-shadow : 10px 5px 5px #A65C00;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;							
		border-radius: 5px;

 }
 
 .informationText {

		border: 1px solid #A65C00;
		width : 725px;
		height : 530px;
		text-align: justify;
		padding : 5%;
		float : left;
		box-shadow : 10px 5px 5px #A65C00 ;
		-webkit-box-shadow : 10px 5px 5px #A65C00;
		-moz-box-shadow : 10px 5px 5px #A65C00;
		-o-box-shadow : 10px 5px 5px #A65C00;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;							
		border-radius: 5px;

 }
 
 .modalImage {
 
		border: 3px solid #FFAA40;
		width : 325px;
		height : 500px;
		box-shadow : 10px 5px 5px #A65C00 ;
		-webkit-box-shadow : 10px 5px 5px #A65C00;
		-moz-box-shadow : 10px 5px 5px #A65C00;
		-o-box-shadow : 10px 5px 5px #A65C00;

 }
 
 <!--
			body {margin:0; padding:0; background:#fff;}
			#slidebox{position:relative; border:2px solid #A65C00; margin:40px auto;overflow:hidden;}
			#slidebox, #slidebox ul {width:900px;height:600px;}
			#slidebox, #slidebox ul li{width:900px;height:600px;}
			#slidebox ul li{position:relative; left:0; background:#FFFFFF; float:left;list-style: none; padding:15px 28px;  font-family:Verdana, Geneva, sans-serif; font-size:13px;}
			#slidebox .next, #slidebox .previous{position:absolute; z-index:2; display:block; width:21px; height:21px;top:300px;}
			#slidebox .next{right:0; margin-right:10px; background:url(slidebox_next.png) no-repeat left top;}
			#slidebox .next:hover{background:url(slidebox_next_hover.png) no-repeat left top;}
			#slidebox .previous{margin-left:10px; background:url(slidebox_previous.png) no-repeat left top;}
			#slidebox .previous:hover{background:url(slidebox_previous_hover.png) no-repeat left top;}
			#slidebox .thumbs{position:absolute; z-index:2; bottom:10px; right:10px;}
			#slidebox .thumbs a{display:block; margin-left:5px; float:left; font-family:Verdana, Geneva, sans-serif; font-size:9px; text-decoration:none; padding:2px 4px; background:#FFFFFF; color:#FFAA40;}
			#slidebox .thumbs a:hover{background:#BF8030; color:#FFFFFF;}
			#slidebox .thumbs .thumbActive{background:#FFAA40; color:#FFFFFF; display:block; margin-left:5px; float:left; font-family:Verdana, Geneva, sans-serif; font-size:9px; text-decoration:none; padding:2px 4px;}
			-->
			
body {
				font-size: 100%;
			}
			p {
				margin: 0;
				padding: 0;
			}
			#tabs_wrapper {
				width: 1232px;
			}
			#tabs_container {
				border-bottom: 1px solid #A65C00;
			}
			#tabs {
				list-style: none;
				padding: 5px 0 4px 0;
				margin: 0 0 0 10px;
				font: 14px Constantia;
				
			}
			#tabs li {
				display: inline;
			}
			#tabs li a {
				border: 1px solid #A65C00;
				padding: 4px 6px;
				text-decoration: none;
				background-color: #FFC173;
				color : #FFFFFF;
				border-bottom: none;
				outline: none;
				border-radius: 5px 5px 0 0;
				-moz-border-radius: 5px 5px 0 0;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
				transition: background 0.5s linear;
				-webkit-transition: background 0.5s linear;
				-moz-transition: background 0.5s linear;
				-o-transition: background 0.5s linear;	
			}
			#tabs li a:hover {
				background-color: #BF8030;
				padding: 4px 6px;
			}
			#tabs li.active a {
				border-bottom: 1px solid #A65C00;
				background-color: #FFC173;
				padding: 4px 6px 5px 6px;
				border-bottom: none;
				transition: background 0.5s linear;
				-webkit-transition: background 0.5s linear;
				-moz-transition: background 0.5s linear;
				-o-transition: background 0.5s linear;	
			}
			#tabs li.active a:hover {
				background-color: #BF8030;
				padding: 4px 6px 5px 6px;
				border-bottom: none;
			}

			#tabs li a.icon_accept {
				background-image: url(accept.png);
				background-position: 5px;
				background-repeat: no-repeat;
				padding-left: 24px;
			}
			#tabs li a.icon_accept:hover {
				padding-left: 24px;
			}

			#tabs_content_container {
				border: 1px solid #A65C00;
				border-top: none;
				padding: 10px;
				width: 1210px;				
				height: 600px;
				overflow: auto;
				background-color: #FFC173;
				box-shadow : 10px 5px 5px #A65C00 ;
				-webkit-box-shadow : 10px 5px 5px #A65C00;
				-moz-box-shadow : 10px 5px 5px #A65C00;
				-o-box-shadow : 10px 5px 5px #A65C00;
				
			}
			.tab_content {
				display: none;
			}
			
						
			#modal
			{
			  position: absolute;
			  border: 1px solid #A65C00;
			  padding: 0;
			  margin: 0;
			  width: 100%;
			  height: 100%;
			  z-index: 50;
			  filter: alpha(opacity=50);			  
			  background-color: transparent;
			  left: 0;
			  top: 0;
			  overflow: auto;
			}

			.content
			{
			  width: 500px;
			  border: 3px solid #A65C00;
			  background: #FFC173;
			  position: relative;
			  margin: 10% auto;
			  padding: 30px;
			  text-align : center;
			  -moz-border-radius: 7px;
			  border-radius: 7px;
			  -webkit-box-shadow: 10px 10px 10px 20px #FFC173;
			  -moz-box-shadow: 10px 10px 10px 20px #FFC173;
			  box-shadow: 10px 10px 10px 20px #FFC173;
			  background: -moz-linear-gradient(#fff, #ccc);
			  background: -webkit-gradient(linear, right bottom, right top, color-stop(1, rgb(255,255,255)), color-stop(0.57,       rgb(230,230,230)));
			  text-shadow: 0 1px 0 #fff;
			}

			.content {
			  font-size: 26px;
			  padding: 0 0 20px;
			  color : #A65C00;
			  font-family : Constantia;
			}

			.content a[href="#close"] {
			  position: absolute;
			  right: 0;
			  top: 0;
			  color: transparent;
			}

			.content a[href="#close"]:focus {
			  outline: none;
			}

			.content a[href="#close"]:after {
			  content: 'X';
			  display: block;
			  position: absolute;
			  right: -10px;
			  top: -10px;
			  width: 1.5em;
			  padding: 1px 1px 1px 2px;
			  text-decoration: none;
			  text-shadow: none;
			  text-align: center;
			  font-weight: bold;
			  background: #FFC173;
			  color: #fff;
			  border: 3px solid #A65C00;
			  -moz-border-radius: 20px;
			  border-radius: 20px;
			  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
			  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
			  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
			}