
header{

		height : 5%;
		width : 100%;	
		
}

.corner{
		position:absolute;
		height : auto;
		width : 15%;
		text-align : center;
		vertical-align : middle;
		float : left;
		top: 1%;
		
}

.cabecera{

		height : auto;
		width : 80%;
		padding : 10px;
		background : #FFAA40;
		margin-left : 15%;
		-webkit-border-radius: 10px 80px 10px 10px;
		-moz-border-radius: 10px 80px 10px 10px;
		-o-border-radius: 10px 80px 10px 10px;							
		border-radius: 10px 80px 10px 10px;
		box-shadow : 10px 10px 5px #A65C00 ;
		-webkit-box-shadow : 10px 10px 5px #A65C00;
		-moz-box-shadow : 10px 10px 5px #A65C00;
		-o-box-shadow : 10px 10px 5px #A65C00;
}

.adress{

		height : auto;
		width : 80%;
		padding : 10px;
		background : #FFAA40;
		margin-left : 15%;
		-webkit-border-radius: 10px 10px 80px 10px;
		-moz-border-radius: 10px 10px 80px 10px;
		-o-border-radius: 10px 10px 80px 10px;							
		border-radius: 10px 10px 80px 10px;
		box-shadow : 10px 10px 5px #A65C00 ;
		-webkit-box-shadow : 10px 10px 5px #A65C00;
		-moz-box-shadow : 10px 10px 5px #A65C00;
		-o-box-shadow : 10px 10px 5px #A65C00;
		
}

.center{

		height : auto;
		width : 100%;
		
}

.menu{

		width : 15%;
		height : auto;
		float : left;
		
}

.conteiner{

		margin-left : 15%;
		width : 80% ; 
		margin-top : 3%;
		background : #FFAA40;
		padding: 20px 10px 20px 10px;
		-webkit-border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
		-o-border-radius: 10px 10px 10px 10px;							
		border-radius: 10px 10px 10px 10px;
		box-shadow : 10px 10px 5px #A65C00 ;
		-webkit-box-shadow : 10px 10px 5px #A65C00;
		-moz-box-shadow : 10px 10px 5px #A65C00;
		-o-box-shadow : 10px 10px 5px #A65C00;
		
}

.image{
	
		text-align : center;		
		
}

.foot{

		height : 5%;
		width : 100%;
		margin-top : 1%;
		
}

.textHead{

		color : white;
		text-align : center;		
		font-size : 26px;		
		font-family : Constantia;
		margin : auto;
		padding: 10px 10px 10px 10px;
		
}

.textMenu{

		color : white;
		text-align : center;
		font-family : Constantia;		
		font-size : 16px;		
		padding: 20% 10% 25% 10%; 
		
}

.textFoot{

		color : white;
		text-align : center;
		font-family : Constantia;
		font-size : 16px;		
		padding: 3px 10px 3px 10px; 
		
}

#optionMenu {
			
			margin : auto;
			width : 50%;
			text-align : center;
			padding : 10px;
			background : #FFAA40 ;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-o-border-radius: 5px;							
			border-radius: 5px;
			box-shadow : 10px 5px 5px #A65C00 ;
			-webkit-box-shadow : 10px 5px 5px #A65C00;
			-moz-box-shadow : 10px 5px 5px #A65C00;
			-o-box-shadow : 10px 5px 5px #A65C00;
							
}
						
#optionMenu:hover {

			background : #BF8030 ;
			
}

#optionMenu a{

		color : white;		
		font-size : 16px;
		font-family : Constantia;
		text-decoration : none;
		
}